<section>
  <div class="container">
    <div class="row" style="margin-top: 5%;">
      <div class="col-md-12" style="text-align: center; margin: 5%;">
        <h2>My Articles</h2>
      </div>
      <div class="col-md-6">
        <div class="card p-4 shadow-sm">
          <form [formGroup]="addArticleForm" (ngSubmit)="addArticle(addArticleForm)">
            <div class="form-group">
              <label for="name">Article Id</label>
              <input
                type="text"
                class="form-control"
                name="id"
                id="id"
                formControlName="articleid"
                aria-describedby="identity"
              />
            </div>
            <div class="form-group">
              <label for="title">Title</label>
              <input
                type="text"
                class="form-control"
                formControlName="title"
                name="title"
                id="title"
                aria-describedby="title"
              />
            </div>
            <div class="form-group">
              <label for="author">Author</label>
              <input
                type="text"
                class="form-control"
                formControlName="author"
                name="author"
                id="author"
              />
            </div>
            <div class="form-group">
              <label for="publisher">Publisher</label>
              <input
                type="text"
                class="form-control"
                formControlName="publisher"
                name="publisher"
                id="publisher"
              />
            </div>
            <button type="submit" class="btn btn-primary mt-3" [disabled]="addArticleForm.invalid">Submit</button>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <ul class="list-group">
          <li
            class="list-group-item list-group-item-primary"
            *ngFor="let article of articles$ | async"
          >
            {{ article.title }} <b>{{ article.author }}</b>
            <span class="mx-2">
              <i class="bi bi-trash text-danger mx-2" (click)="deleteArticle(article)"></i>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
